body {
    margin: 0;
    padding: 0;
    background-color: rgb(218, 193, 242);
}

#level {
    font-size: 5vh;
}

#background {
    background-image: url(../images/cat-background.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mitten {
    position: absolute;
    transition: all .1s;
}

.mitten img {
    width: 100%;
    height: 100%;
}

.kitten {
    position: absolute;
    transition: all .1s;
}

.kitten img {
    width: 100%;
    height: 100%;
}