body {
    margin: 0;
    padding: 0;
    background-color: rgb(218, 193, 242);
}

#background {
    background-image: url(../images/cat-background.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mitten {
    position: absolute;
}

.mitten img {
    max-width: 15vw;
    max-height: 20vh;
}

.kitten {
    position: absolute;
}

.kitten img {
    max-width: 20vw;
    max-height: 20vh;
}