body {
    margin: 0;
    padding: 0;
    background-color: rgb(218, 193, 242);
    font: Tahoma;
}

.name {
    background-color: rgb(203, 225, 241);
    margin: 0 0 50px;
    border-radius: 50px;
    font-size: 4vh;
    font-weight: bold;
    padding: 4vh;
    width:fit-content;
    text-align: center;
    box-shadow: 30px 30px 10px rgb(152, 196, 230)
}

#level {
    background-color: rgb(145, 200, 241);
    border-radius: 50px;
    font-size: 4vh;
    font-weight: bold;
    padding: 4vh;
    width:fit-content;
    text-align: center;
    box-shadow: 30px 30px 10px rgb(2, 80, 139)
}

#background {
    background-image: url(../images/cat-background.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mitten {
    position: absolute;
    transition: all .1s;
}

.mitten img {
    width: 100%;
    height: 100%;
}

.kitten {
    position: absolute;
    transition: all .1s;
}

.kitten img {
    width: 100%;
    height: 100%;
}